/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before {
    text-decoration: none;
}

body {
    font-family: Roboto, "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

img{
    vertical-align: middle;
}

/* font */
.fz-80{
    font-size: 80px;
    line-height: 106px;
}
.fz-64{
    font-size: 64px;
    line-height: 84px;
}
.fz-24{
    font-size: 24px;
}
.fz-20{
    font-size: 20px;
}
.fw-b{
    font-weight: 700;
}
.lh-42{
    line-height: 42px;
}
.lh-36{
    line-height: 36px;
}
.lh-30{
    line-height: 30px;
}
.secondary{
    color: #fff;
}
/* margin */
.mb-144{
    margin-bottom: 144px;
}
.mb-68{
    margin-bottom: 68px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-56{
    margin-bottom: 56px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-28{
    margin-bottom: 28px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-4{
    margin-bottom: 4px;
}
.mr-24{
    margin-right: 24px;
}

.wrap{
    margin: 0 auto;
}

.header{
    background: url(img/banner.png);
    background-size: cover;
    background-position: center center;
    padding: 308px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan{
    width: 304px;
    text-align: left;
}

.potorfolio{
    display: flex;
    justify-content: space-between;
}
.potorfolio a:hover{
    filter: brightness(140%);
}

.workExp{
    width: 384px;
    border-top: 1px solid #000;
    padding-top: 28px;
}

.workExp li::before{
    display: inline-block;
    margin-right: 16px;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #891818;
    vertical-align: middle;
}

.myBrand{
    background-color: #000;
    border-bottom: 1px solid #707070;
    padding: 56px 0 160px 0;
}

.brandImg{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}

.workList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workItem{
    margin: 0 24px 48px 0;
}

.workItem:hover{
    filter: contrast(60%);
}
.contact{
    background-color: #000;
    padding: 64px 0;
}

.contactMethod:hover{
    color: #891818;
}