/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*, *::after, *::before {
    text-decoration: none;
}

body {
    font-family: "SF Pro Text", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 300;
}

img{
    vertical-align: middle;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.block{
    margin: 0 auto;
    text-align: center;
}

.bc-blue{
    background-color: #415165;
    padding-top: 24px;
    padding-bottom: 40px;
}

.c-red{
    color: #A00404;
}

.c-white{
    color: white;
}

.fz-32{
    font-size: 32px;
}

.fz-24{
    font-size: 24px;
}

.fz-20{
    font-size: 20px;
}

.fw-m{
    font-weight: 600;
}

.bd{
    padding-bottom: 7px;
    border-bottom: 1px solid #000;
}

.bd-white{
    width: 996px;
    padding-bottom: 7px;
    border-bottom: 1px solid white;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-48{
    margin-bottom: 48px;
}

.mb-64{
    margin-bottom: 64px;
}

.mb-80{
    margin-bottom: 80px;
}

.name{
    font-size: 80px;
    font-weight: 400;
    line-height: 95px;
    padding-top: 40px;
    padding-bottom: 22px;
    border-bottom: 2px solid #000;
}

.photo{
    width: 324px;
}

.skill-list{
    width: 200px;
    margin: 0 auto;
    border-left: 1px solid white;
    padding-left: 23px;
}

.work-list{
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
}
.w-642{
    width: 642px;
}

.contact-info{
    width: 530px;
    margin: 0 auto;
    text-align: center;
}

.icon {
    width: 530px;
    margin: 0 auto;
    text-align: center;
}

.icon img{
    margin-left: 24px;
}
